# project-specific
data
papers
results
*.tar
*.tar.gz
*/**/fddceb2e-82ba-493d-baba-c5d8af65981f*

# temporary files
cache
tmp.*
tmp/*

# environment
*.egg-info
.mypy_cache
.ruff_cache
.vscode/*
.venv
__pycache__
